<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Twd - {% block title %}{% endblock %}</title>
    {% include 'parts/static_imports.html' %}
</head>
<body>
    <div class="ui centered left aligned grid">
        <div class="black row"></div>
        <div class="gradiente row">
            <div class="ten wide column">
                <h1 class="ui left floated inverted twd_logo header">
                    TANGO WITH DJANGO
                </h1>
                {% include 'parts/principal_menu.html' %}
            </div>
        </div>
        <div class="black row">
            <div class="ten wide column">
                {% if user.is_authenticated %}
                <a href="/rango/logout/" class="ui right floated basic inverted red button">
                    <i class="sign out icon"></i>
                    Log Out
                </a>
                <a href="/rango/settings/" class="ui right floated basic inverted button">
                    <i class="settings icon"></i>
                    Settings
                </a>
                <div class="ui right floated horizontal inverted list">
                    <div class="user_logged_label item">
                        <i class="big user icon"></i>
                        <div class="content">
                            <div class="ui sub header">{{ user.username }}</div>
                            Welcome!
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="ui two column middle aligned very relaxed stackable grid">
                    <div class="column">
                        <form class="ui inverted small form" method="POST" action="/rango/login/">{% csrf_token %}
                            <div class="ten wide field">
                                <div class="ui labeled input">
                                    <label class="ui grey label">Username</label>
                                    <input type="text" name="username" placeholder="username" required>
                                </div>
                            </div>
                            <div class="ten wide field">
                                <div class="ui labeled input">
                                    <label class="ui grey label">Password</label>
                                    <input type="password" name="password" placeholder="password" required>
                                </div>
                            </div>
                            <input type="submit" class="ui submit right floated button" value="Log in">
                        </form>
                    </div>
                    <div class="ui inverted vertical divider">
                        OR
                    </div>
                    <div class="center aligned column">
                        <a href="/rango/register/" class="ui big green labeled icon button">
                            <i class="signup icon"></i>
                            Sign Up
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            {% block content %}{% endblock %}
        </div>
        {% include 'parts/footer.html' %}
    </div>
</body>
</html>