<!DOCTYPE html>{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TWD | {% block title %}{% endblock %}</title>
    {% include 'parts/static_imports.html' %}
</head>
<body>
    <div class="ui centered left aligned grid">
{#        <div class="black row"></div>#}
        <div class="gradiente top row">
            <div class="twelve wide column">
                <h4 class="ui left floated inverted twd_logo header">
                    TANGO WITH DJANGO
                    <div class="subtitle sub header">
                        DESENVOLVIMENTO WEB II
                    </div>
                </h4>
                {% include 'parts/principal_menu.html' %}
            </div>
        </div>
        <div class="row">
            {% block content %}

            {% endblock %}
        </div>
        <!--<div class="black row">
            <div class="ten wide column">
                {% if user.is_authenticated %}
                <a href="/rango/logout/" class="ui right floated basic inverted red button">
                    <i class="sign out icon"></i>
                    Log Out
                </a>
                <a href="/rango/settings/" class="ui right floated basic inverted button">
                    <i class="settings icon"></i>
                    Settings
                </a>
                <div class="ui right floated horizontal inverted list">
                    <div class="user_logged_label item">
                        <i class="big user icon"></i>
                        <div class="content">
                            <div class="ui sub header">{{ user.username }}</div>
                            Welcome!
                        </div>
                    </div>
                </div>
                {% else %}
                <div class="ui two column middle aligned very relaxed stackable grid">
                    <div class="right aligned column">
                        <form class="ui inverted small form" method="POST" action="/rango/login/">{% csrf_token %}
                            <div class="ten wide field">
                                <label>Username</label>
                                <div class="ui left icon input">
                                    <i class="user icon"></i>
                                    <input type="text" name="username" placeholder="username" required>
                                </div>
                            </div>
                            <div class="ten wide field">
                                <label>Password</label>
                                <div class="ui left icon input">
                                    <i class="lock icon"></i>
                                    <input type="password" name="password" placeholder="password" required>
                                </div>
                            </div>
                            <input type="submit" class="ui submit right floated button" value="Log in">
                        </form>
                    </div>
                    <div class="ui inverted vertical divider">
                        OR
                    </div>
                    <div class="center aligned column">
                        <a href="/rango/register/" class="ui big green labeled icon button">
                            <i class="signup icon"></i>
                            Sign Up
                        </a>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>!-->
        {% include 'parts/footer.html' %}
    </div>

{#    <div class="ui small modal">#}
{#        <div class="header">#}
{#            <i class="sign in icon"></i>Sign In#}
{#        </div>#}
{#        <div class="content">#}
{#            <form class="ui fluid form" action="." method="POST">{% csrf_token %}#}
{#                <div class="two fields">#}
{#                    <div class="field">#}
{#                        <label>Username</label>#}
{#                        <div class="ui left icon input">#}
{#                            <i class="user icon"></i>#}
{#                            <input type="text" name="username" required>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="field">#}
{#                        <label>Password</label>#}
{#                        <div class="ui left icon input">#}
{#                            <i class="lock icon"></i>#}
{#                            <input type="password" name="password" required>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <input type="submit" class="ui submit right green button" value="Login">#}
{#            </form>#}
{#        </div>#}
{#        <div class="actions">#}
{#            <a href="#" class="ui left labeled icon button">#}
{#                <i class="signup icon"></i>#}
{#                Sign up#}
{#            </a>#}
{#        </div>#}
{#    </div>#}
</body>
</html>