@font-face {
	font-family: 'COLLEGE';
	src: url('./COLLEGE.eot');
	src: local('COLLEGE'), url('./COLLEGE.woff') format('woff'), url('./COLLEGE.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_9364">Text with this font applied</p> */
.fontsforweb_fontid_9364 {
	font-family: 'COLLEGE' !important;
}

/* Font downloaded from FontsForWeb.com */