@font-face {
	font-family: 'bettynoir';
	src: url('./bettynoir.eot');
	src: local('bettynoir'), url('./bettynoir.woff') format('woff'), url('./bettynoir.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_306">Text with this font applied</p> */
.fontsforweb_fontid_306 {
	font-family: 'bettynoir' !important;
}

/* Font downloaded from FontsForWeb.com */