/*
    Classes personalizadas
*/

@font-face {
    font-family: newFont;
    src: url(fonts/AldotheApache/AldotheApache.woff);
}

.gradiente{
    background: linear-gradient(to bottom, #2e2e2e, #000000);
}

.twd_logo{
    font-family: newFont!important;
    font-weight: normal!important;
}

.twd_logo .subtitle{
    color: #c82121!important;
}

footer .column{
    border-top: 6px solid #c82121;
    padding: 10px 0px 0px 0px!important;
}

.error-form-message ul{
    list-style: none!important;
    padding: 0px!important;
    margin: 0px!important;
}

.user_logged_label{
    color: #fff;
    margin-right: 10px;
}

.top .column{
    margin-top: 15px!important;
}

.category.card .header{
    margin-left: 10px;
    color: #fff!important;
}

.category.card{
    background-color: #252525!important;
}

input[type=text]{
    border: 1px solid #000;
}

.pesquisa.button{
    margin-left: 5px!important;
}
