{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
<div class="six wide column">
    <h1 class="ui center aligned icon header">
        <i class="info circle icon"></i>
        <div class="content">
            Sobre
        </div>
    </h1>
    <div class="ui center aligned segment">
        <article class="text">
        Desenvolvido por {{ autor }}, aluno do curso {{ curso }} em {{ instituicao }}.
        O site faz parte da disciplina {{ disciplina }} ministrada pelo professor {{ professor }}
        </article>
    </div>
</div>
{% endblock %}