{% extends 'base.html' %}

{% block title %}Add Category{% endblock %}

{% block content %}
<div class="six wide column">
    <h2 class="ui header">
        <i class="plus icon"></i>
        <div class="content">
            Add Category
        </div>
    </h2>
    {% if form %}
    <form method="POST" action="/rango/add_category/" class="ui form">{% csrf_token %}
        <div class="ui required field">
            <label>Name</label>
            <div class="ui left icon input">
                <i class="tag icon"></i>
                {{ form.name }}
            </div>
            {% if form.name.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ form.name.errors }}
                </div>
            {% endif %}
        </div>
        <input type="submit" value="Save" class="ui right floated green submit button">
    </form>
    {% endif %}
</div>
{% endblock %}