{% extends 'base.html' %}

{% block title %}Add Page{% endblock %}

{% block content %}
<div class="six wide column">
    <h2 class="ui header">
        <i class="plus icon"></i>
        <div class="content">
            Add Page
        </div>
    </h2>
    {% if form %}
    <form method="POST" action="/rango/add_page/" class="ui form">{% csrf_token %}
        <div class="ui required field">
            <label>Title</label>
            <div class="ui left icon input">
                <i class="file text icon"></i>
                {{ form.title }}
            </div>
            {% if form.title.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ form.title.errors }}
                </div>
            {% endif %}
        </div>
        <div class="ui required field">
            <label>URL</label>
            <div class="ui left icon input">
                <i class="file word outline icon"></i>
                {{ form.url }}
            </div>
            {% if form.url.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ form.url.errors }}
                </div>
            {% endif %}
        </div>
        <div class="ui required field">
            <label>Category</label>
            {{ form.category }}
            {% if form.category.errors %}
                <div class="ui pointing red basic label error-form-message">
                    {{ form.category.errors }}
                </div>
            {% endif %}
        </div>
        <input type="submit" value="Save" class="ui right floated green submit button">
    </form>
    {% endif %}
</div>
{% endblock %}