{% extends 'base.html' %}

{% block title %}
    Category {{ category.name }}
{% endblock %}

{% block content %}
<div class="three wide column">
    <div class="ui fluid center aligned red segment">
        <h3 class="ui icon centered header">
            <i class="bookmark icon"></i>
            <div class="content">
                {{ category.name }}
                <div class="sub header">
                    Info about category
                </div>
            </div>
        </h3>
    </div>
</div>

<div class="six wide column">
    <div class="ui fluid inverted segment">
        <h3 class="ui inverted red header">
            <i class="sticky note icon"></i>
            <div class="content">
                {{  category.name }}'s pages
            </div>
        </h3>

        {% if pages|length > 0 %}
        <div class="ui divided inverted middle list">
            {% for page in pages %}
            <div class="item">
                <div class="left floated content">
                    <a href="{{ page.url }}/">{{ page.title }}</a>
                </div>
                <div class="right floated content">
                    <label class="ui black label">
                        <i class="unhide icon"></i>
                        {{ page.views }}
                    </label>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
            <div class="ui fluid message">
                Don't have pages for this category
            </div>
        {% endif %}
    </div>

    <div class="ui fluid segment">
        <h3 class="ui header">
            <i class="comments icon"></i>
            <div class="content">
                Comments
                <div class="sub header">Comments about the category</div>
            </div>
        </h3>

        {% if comments|length > 0 %}
        <div class="ui comments">
            {% for comment in comments %}
            <div class="category comment">
                <div class="avatar">
                    <img src="{{ comment.profile.picture.url }}">
                </div>
                <div class="content">
                    <a class="author">{{ comment.profile.user.username }}</a>
                    <div class="metadata">
                        <span class="date"></span>
                    </div>
                    <div class="text">
                        {{ comment.text }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="ui fluid message">
            There are no comments
        </div>
        {% endif %}

        {% if user.is_authenticated %}
        <form method="POST" action="/rango/comment/" class="ui form">{% csrf_token %}
            <input type="hidden" name="category" value="{{ category.slug }}">
            <div class="field">
                <div class="ui action input">
                    <input type="text" name="comment" placeholder="Write your comment here..." required>
                    <input class="ui red button" type="submit" value="Send">
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>

<div class="three wide column">
    {% if user.is_authenticated %}
    <a id="like_category" data_catslug="{{ category.slug }}" class="ui left labeled icon red button">
        <i class="heart icon"></i>
        Like
    </a>
    {% endif %}

    <div class="ui small center floated statistics">
        <div class="red statistic">
            <div class="value">
                <span id="num_likes">{{ category.likes }}</span>
            </div>
            <div class="label">
                Likes
            </div>
        </div>
        <div class="statistic">
            <div class="value">
                {{ category.views }}
            </div>
            <div class="label">
                Views
            </div>
        </div>
    </div>
</div>
{% endblock %}