{% extends 'base.html' %}

{% block title %}All categories{% endblock %}

{% block content %}
<div class="twelve wide center aligned column">

    <h1 class="ui centered header">
        <i class="tags icon"></i>
        <div class="content">
            Categories
            <div class="sub header">All twd's categories</div>
        </div>
    </h1>

    <div class="ui fluid centered cards">
        {% for category in categories %}
        <div class="category card">
            <div class="content">
                <div class="header">
                    {{ category.name }}
                </div>
            </div>
            <a href="/rango/category/{{ category.slug }}/" class="ui bottom attached red button">
                View Pages
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}