{% extends 'base.html' %}{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="four wide column">
    {% if user.is_authenticated %}
    <div class="ui inverted red segment">
        <h3 class="ui inverted header">
            <i class="ui user icon"></i>
            <div class="content">
                Olá, {{ user.username }}
                <div class="sub header">Seja bem-vindo!</div>
            </div>
        </h3>
    </div>
    {% endif %}

    {% if categories %}
    <div class="ui inverted segment">
        <h3 class="ui inverted header">
            Categorias
            <div class="sub header">Todas categorias cadastradas</div>
        </h3>
        <div class="ui inverted big list">
            {% for category in categories %}
            <div class="item">
                {{ category.name }}

                <div class="right floated content">
                    <a href="{% url 'view_category' category.slug  %}" class="ui tiny red icon button">
                        <i class="plus icon"></i>
                    </a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>
<div class="eight wide column">
    <div class="ui fluid segment">
        <h3 class="ui header">
            <i class="tags icon"></i>
            <div class="content">
                Categorias Populares
                <div class="sub header">
                    Description
                </div>
            </div>
        </h3>

        {% if top_liked_categories %}
        <ol class="ui big divided list">
            {% for category in top_liked_categories %}
            <li class="item">
                <div class="content">
                    <a href="/rango/category/{{ category.slug }}/">{{ category.name }}</a>
                    <span class="ui right floated label">
                        <i class="heart icon"></i>
                        {{ category.likes }}
                    </span>
                </div>
            </li>
            {% endfor %}
        </ol>
        {% endif %}
    </div>

    <div class="ui fluid segment">
        <h3 class="ui header">
            <i class="sticky note icon"></i>
            <div class="content">
                Páginas Populares
                <div class="sub header">
                    Description
                </div>
            </div>
        </h3>

        {% if top_seen_pages %}
        <ol class="ui big divided list">
            {% for page in top_seen_pages %}
            <li class="item">
                <div class="content">
                    <a title="{{ page.title }}"
                       href="{{ page.url }}">
                        {{ page.title|truncatechars:30 }}
                    </a>
                    <label class="ui right floated label">
                        <i class="unhide icon"></i>
                        {{ page.views }}
                    </label>
                </div>
            </li>
            {%  endfor %}
        </ol>
        {% endif %}
    </div>

    <div class="ui fluid segment">
        <h3 class="ui header">
            <i class="time icon"></i>
            <div class="content">
                Páginas recentes
                <div class="sub header">
                    Description
                </div>
            </div>
        </h3>

        {% if recent_pages %}
        <div class="ui divided list">
            {% for page in recent_pages %}
            <div class="item">
                <div class="left floated content">
                    <div class="header" title="{{  page.title }}">
                        <a href="{{ page.url }}">{{ page.url|truncatechars:50 }}</a>
                    </div>
                    {{ page.title|truncatechars:40 }}
                </div>

                <div class="right floated content">
                    {{ page.date|date:"d M Y" }} às {{ page.date|date:"H:i" }}
                </div>
            </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}