{% extends 'base.html' %}

{% block title %}Log In{% endblock %}

{% block content %}
<div class="ui six wide center aligned column">
    {% if error_message %}
    <div class="ui error message">
        <header class="header">Authentication error</header>
        <div class="content">
            {{ error_message }}
        </div>
    </div>
    {% endif %}
    <form id="login_form" method="POST" action="/rango/login/" class="ui big form">
        {% csrf_token %}
        <div class="field">
            <label>Username</label>
            <div class="ui left icon input">
                <i class="icon user"></i>
                <input type="text" name="username" maxlength="30" />
            </div>
        </div>
        <div class="field">
            <label>Password</label>
            <div class="ui left icon input">
                <i class="icon lock"></i>
                <input type="password" name="password" maxlength="30" />
            </div>
        </div>

        <input type="submit" class="ui submit big fluid black button" value="Login" />
    </form>
</div>
{% endblock %}
