{% if user.is_authenticated %}
<nav class="ui right floated inverted red menu">
    <a href="{% url 'logout' %}" class="item">
        <i class="sign out icon"></i>
        Sair
    </a>
</nav>
{% else %}
<nav class="ui right floated inverted menu">
    <a href="{% url 'login' %}" class="item">
        <i class="sign in icon"></i>
        Entrar
    </a>
    <a href="{% url 'register_user' %}" class="item">
        <i class="add user icon"></i>
        Registre-se
    </a>
</nav>
{% endif %}
<nav class="ui right floated inverted menu">
    <a href="{% url 'index' %}" class="item">
        <i class="home icon"></i>
        Início
    </a>

    {% if user.is_authenticated %}
    <div class="ui pointing dropdown link item">
        <span class="text">Adicionar</span>
        <i class="dropdown icon"></i>
        <div class="menu">
            <a href="{% url 'add_category' %}" class="item">
                <i class="tag icon"></i>
                Categoria
            </a>
            <a href="{% url 'add_page' %}" class="item">
                <i class="sticky note icon"></i>
                Página
            </a>
        </div>
    </div>
    {%  endif %}
    <a href="{% url 'categories' %}" class="item">
        <i class="tag icon"></i>
        Categorias
    </a>
    <a href="{% url 'about' %}" class="item">
        <i class="info circle icon"></i>
        Sobre
    </a>
</nav>