{% load static %}
<script type="text/javascript" src="{% static 'js/jquery.js' %}"></script>
<script type="text/javascript" src="{% static 'semantic/semantic.js' %}"></script>
<script type="text/javascript" src="{% static 'js/init.js' %}"></script>
<script type="text/javascript" src="{% static 'js/rango_ajax.js' %}"></script>

<link type="text/css" href="{% static 'css/teste.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'semantic/semantic.css' %}" rel="stylesheet" />
<link type="text/css" href="{% static 'css/extras.css' %}" rel="stylesheet" />