@font-face {
	font-family: 'FightNight';
	src: url('./FightNight.eot');
	src: local('FightNight'), url('./FightNight.woff') format('woff'), url('./FightNight.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_33531">Text with this font applied</p> */
.fontsforweb_fontid_33531 {
	font-family: 'FightNight' !important;
}

/* Font downloaded from FontsForWeb.com */