@font-face {
	font-family: 'AldotheApache';
	src: url('./AldotheApache.eot');
	src: local('AldotheApache'), url('./AldotheApache.woff') format('woff'), url('./AldotheApache.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_12156">Text with this font applied</p> */
.fontsforweb_fontid_12156 {
	font-family: 'AldotheApache' !important;
}

/* Font downloaded from FontsForWeb.com */